# Data Types and Structures Questions

1 . What are data structures, and why are they important?

Answer : Data structures are ways to organize, manage, and store data for efficient access and modification. They're essential for designing efficient algorithms and solving complex problems.

2 : Explain the difference between mutable and immutable data types with examples.

Mutable: Can be changed after creation. Example: list, dict, set.

my_list = [1, 2]; my_list.append(3)  # Changes list
Immutable: Cannot be changed after creation. Example: int, str, tuple.

my_str = "hello"; my_str[0] = 'H'  # Error

3 : What are the main differences between lists and tuples in Python?

Answer : List: Mutable, dynamic, slower, denoted by [].

Tuple: Immutable, faster, used for fixed data, denoted by ().

4 : Describe how dictionaries store data.

Answer : Dictionaries store data as key-value pairs using a hash table internally for fast lookups.

5 : Why might you use a set instead of a list in Python?

Answer : Sets automatically remove duplicates and allow fast membership tests using hashing.

6 : What is a string in Python, and how is it different from a list?

Answer : A string is an immutable sequence of characters. Unlike lists, strings cannot be changed after creation.

7 : How do tuples ensure data integrity in Python?

Answer : Tuples are immutable, meaning their contents cannot be altered, which ensures that data remains constant.

8 : What is a hash table, and how does it relate to dictionaries in Python?

Answer : A hash table maps keys to values using a hash function. Python's dictionaries use hash tables for fast key-based retrieval.

9 : Can lists contain different data types in Python?

Answer : Yes, lists can contain any combination of data types:

my_list = [1, "two", 3.0, [4, 5]]

10 : Explain why strings are immutable in Python.
Answer : Immutability makes strings more memory-efficient and safer in concurrent environments.

11 : What advantages do dictionaries offer over lists for certain tasks?

Answer : Dictionaries allow fast lookups, named access (via keys), and better organization for key-value data.

12 : Describe a scenario where using a tuple would be preferable over a list.

Answer : When you want to store fixed configuration values (e.g., coordinates, RGB values) that shouldn’t change.

13 : How do sets handle duplicate values in Python?

Answer : Sets automatically remove duplicates; only unique values are stored.

14 : How does the "in" keyword work differently for lists and dictionaries?

Answer : In a list, it checks for values: 3 in [1,2,3] → True

In a dictionary, it checks for keys: 'a' in {'a':1} → True

15 : Can you modify the elements of a tuple? Explain why or why not.

Answer : No, tuples are immutable. Once created, their content cannot be changed.

16 : What is a nested dictionary, and give an example of its use case?

Answer : A dictionary inside another dictionary.
Example:

students = {"John": {"age": 20, "grade": "A"}}
17 : Describe the time complexity of accessing elements in a dictionary.

Answer : Average time complexity is O(1) due to hashing.

18 : In what situations are lists preferred over dictionaries?

Answer : When order matters or when only sequential data is needed without key-value mapping.

19 : Why are dictionaries considered unordered, and how does that affect data retrieval?
Answer :  dictionaries didn’t preserve insertion order. In Python 3.7+, they maintain order but are still accessed by key, not position.

20 : Explain the difference between a list and a dictionary in terms of data retrieval.

Answer : List: Retrieve by index (position-based).

Dictionary: Retrieve by key (name-based).

# Practical Questions

In [1]:
'''Question 1 :
  Create a string with your name and print it.
'''
name = "Alice"
print(name)

Alice

In [ ]:
'''Question 2 :
Find the length of the string "Hello World".
'''
print(len("Hello World"))

In [ ]:
'''Question 3 :
Slice the first 3 characters from "Python Programming".
'''
s = "Python Programming"
print(s[:3])

In [ ]:
'''Question 4 :
Convert the string "hello" to uppercase.
'''
print("hello".upper())

In [ ]:
'''Question 5 :
Replace "apple" with "orange" in "I like apple".
'''
s = "I like apple"
print(s.replace("apple", "orange"))

In [ ]:
''' Question 6 :
Create a list with numbers 1 to 5 and print it.
'''
numbers = [1, 2, 3, 4, 5]
print(numbers)

In [ ]:
'''Question 7 :
Append 10 to the list [1, 2, 3, 4].
'''
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

In [ ]:
'''Question 8 :
Remove 3 from the list [1, 2, 3, 4, 5].
'''
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

In [ ]:
'''Question 9 :
Access the second element in ['a', 'b', 'c', 'd'].
'''
letters = ['a', 'b', 'c', 'd']
print(letters[1])

In [ ]:
'''Questioin 10 :
Reverse the list [10, 20, 30, 40, 50].
'''
lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)

In [ ]:
'''Question 11 :
Create a tuple with the elements 100, 200, 300 and print it.
'''
my_tuple = (100, 200, 300)
print(my_tuple)

In [ ]:
'''Question 12 :
Access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
'''
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

In [ ]:
'''Question 13 :
Find the minimum number in the tuple (10, 20, 5, 15).
'''
nums = (10, 20, 5, 15)
print(min(nums))

In [ ]:
'''Question  14 :
Find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
'''
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

In [ ]:
'''Question 15 :
Create a tuple containing three different fruits and check if "kiwi" is in it
'''
fruits = ('apple', 'banana', 'mango')
print('kiwi' in fruits)

In [ ]:
'''Question 16 :
Create a set with the elements 'a', 'b', 'c' and print it.
'''
my_set = {'a', 'b', 'c'}
print(my_set)

In [ ]:
'''Question 17 :
Clear all elements from the set {1, 2, 3, 4, 5}.
'''
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

In [ ]:
'''Question 18 :
Remove the element 4 from the set {1, 2, 3, 4}.
'''
s = {1, 2, 3, 4}
s.remove(4)
print(s)

In [ ]:
'''Question 19 :
Find the union of two sets {1, 2, 3} and {3, 4, 5}.
'''
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

In [ ]:
'''Question 20 :
Find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
'''
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

In [ ]:
'''Question 21 :
Create a dictionary with the keys "name", "age", and "city", and print it.
'''
person = {"name": "Alice", "age": 30, "city": "New York"}
print(person)

In [ ]:
'''Question 22 :
Add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
'''
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

In [ ]:
'''Question 23 :
Access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
'''
data = {'name': 'Alice', 'age': 30}
print(data['name'])

In [ ]:
'''Question 24 :
Remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
'''
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
print(person)

In [ ]:
'''Question 25 :
Check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
'''
info = {'name': 'Alice', 'city': 'Paris'}
print('city' in info)

In [ ]:
'''Question 26 :
Create a list, a tuple, and a dictionary, and print them all.
'''
my_list = [1, 2, 3]
my_tuple = ('a', 'b', 'c')
my_dict = {'key1': 'value1', 'key2': 'value2'}
print(my_list)
print(my_tuple)
print(my_dict)

In [ ]:
'''Question 27 :
Create a list of 5 random numbers between 1 and 100, sort it, and print.
'''
import random
nums = random.sample(range(1, 101), 5)
nums.sort()
print(nums)

In [ ]:
'''Question 28 :
Create a list with strings and print the element at the third index.
'''
words = ["apple", "banana", "cherry", "date", "fig"]
print(words[3])

In [ ]:
'''Question 29 :
Combine two dictionaries into one and print the result.
'''
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined = {**dict1, **dict2}
print(combined)

In [ ]:
'''Question 30 :
Convert a list of strings into a set.
'''
string_list = ["apple", "banana", "apple", "cherry"]
string_set = set(string_list)
print(string_set)